body {
	background-color: rgba(63, 191, 155, 0.05) !important;
}

.thumbnail {
	position: relative;
	overflow: auto;	
}

.thumbnail img {
	width: 350px;
	height: 250px;
}

.caption {
	position: absolute;
	top: 0px;
	right: 0px;
	background: rgba(66, 139, 202, 0.25);
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	color: #fff !important;
	z-index: 1;
}

.descricao {
	text-align: center;
}

.navbar {
	
	background-color: rgba(143,188,143, 0.45) !important;
}

.navbar img {
	width: 200px;
}

.navbar li {
	list-style: none;
}

.navbar a {
	color: #071e51;
	font-size: 15px;
}

.navbar a:hover {
	color: #244181;
}




